@{
    ViewData["Title"] = "Cách sử dụng Razor";
}
 <!---single statement block-->
@{
    var total = 70000;
}
@{
    var mesage = "Biết người là trí, bản thân mới là tri tuệ thậ sự " + "Thắng người là sự mạnh mẽ , thắng bản thân mới là sức mạnh thực sự";
}
<p>Tài khoản của bạn là :@total</p>
<p>Câu nói để đời của Lão tử là : @mesage</p>

<!---Multi statement block-->
@{
    var greeting = "Chúc bạn thành công";
    var weekDay = DateTime.Now.DayOfWeek;
    var myMessage = greeting + " Hôm nay là ngày: " + weekDay;
}
<p>Lời chúc:@myMessage</p>

<h3> CẤU TRÚC IF...ELSE</h3>
@if (total >= 5000)
{
    <p>Bạn nằm trong số 30% người giàu nhất thế giới</p>
}else if (total >= 3000)
{
    <p>Bạn nằm trong số 50% người giàu nhất thế giới</p>
}
else
{
    <p>Chưa có số liệu thống kê</p>
}
@if (total % 2 == 0)
{
    <p>Số tiền của bạn là số chẵn</p>
}
else
{
    <p>số tiền của bạn là số lẻ</p>
}

<h2>Cấu trúc lặp</h2>
@{
    for(int i=0; i<10; i++)
    {
        if (i % 2 == 0)
        {
            <span class=" btn btn-primary">@i</span>
        }
        else
        {
            <span class=" btn btn-danger">@i</span>
        }
    }
    <hr/>
    string[] images = { "01.jpg", "02.jpg", "03.jpg", "04.jpg", "05.jpg", "06.jpg", "07.jpg" };
    foreach(var img in images)
    {
        <img src="/Images/@img" width="100"/>
    }
}


@* @section header {

   
} *@



